<html>
    <head>
        <link href='/assets/style.css' tyep=text/css rel=stylesheet></link>
    </head>
    <body>
        <h1>Person <%= ID %></h1>
        <p>The Query String parsed from url is : <%= Qstr %> </p>
    </body>
</html>