<html>
    <head>
        <link href='/assets/style.css' tyep=text/css rel=stylesheet></link>
    </head>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js">
    </script>
    <body>
        <h1>Login Form</h1>
        <form method="POST" action="/person">
            First Name : <input id="firstName" name="firstName" /><br />
            Last Name : <input id="lastName" name="lastName" /> </br />
            <button type="submit">Submit</button>
        </form>
        <script>
        $.ajax({
            type:"POST",
            url:"/personJsonParser",
            data:JSON.stringify({firstName :"Sandeep",lastName:"Basetti"}),
            dataType:"json",
            contentType:"application/json"
        })
        </script>
    </body>
</html>